{erl_opts, [debug_info, warnings_as_errors]}.

{port_env,
 [{"DRV_LDFLAGS","-shared $ERL_LDFLAGS -lstdc++"},
  {"darwin", "DRV_LDFLAGS", "-bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"solaris", "DRV_LDFLAGS", "-undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ideps/zeromq3/include -g -Wall -fPIC $ERL_CFLAGS"}]}.

{port_specs, [{"priv/erlzmq_drv.so", ["c_src/*.c"]}]}.
